/** Loader */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid lightcoral;
  border-color: lightcoral transparent lightcoral transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav > h1 {
  margin: 0;
  text-align: center;
}

.home-wrapper {
  max-width: 60%;
  margin: auto;
  padding-top: 100px;
}

.home-wrapper h2 {
  font-size: 24px;
  text-align: center;
}

.home-wrapper form {
  max-width: 50%;
  margin: auto;
}

.lang-logo {
  max-width: 100px;
  margin-bottom: 30px;
}

.lang-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.theme-select {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.theme-wrapper {
  max-width: 60%;
  margin: auto;
  padding-top: 100px;
}

.gobackbutton-color {
  background-color: transparent;
  border: 1px solid #666;
}

.error {
  color: red;
}

.questions-wrapper {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  max-width: 60%;
}

.results-wrapper {
  margin: auto;
  padding-top: 100px;
  padding-bottom: 200px;
  max-width: 60%;
}
